@font-face {
  src: url("../../fonts/Helvetica.ttf");
  font-family: "Helvetica";
}

@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  nav {
    ul {
      list-style: none;
    }
    li {
      display: inline-block;

    }
    a {
      display: block;
    }
  }
  section {
    background-color: skyblue;
  }
}
